.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: #f9fbfd;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

/* .form-group input:focus {
  border-color: var(--orange);
} */

.auth-btn {
  width: 100%;
  padding: 10px;
  background: var(--blue);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-btn:hover {
  background: var(--orange);
}

.auth-switch {
  margin-top: 15px;
  font-size: 14px;
}

.auth-switch a {
  color: var(--blue);
  text-decoration: none;
  font-weight: 500;
}

.auth-switch a:hover {
  color: var(--orange);
}

.auth-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.password-group {
  position: relative;
}

.password-group input {
  padding-right: 45px;
}

.toggle-password {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  color: #888;
}

.toggle-password:hover {
  color: var(--orange);
}

small.error {
  display: block;
  color: #dc3545;
  font-size: 13px;
  margin-top: 5px;
}

.form-group.error input,
.form-group.error select,
.form-group.error textarea {
  border-color: #dc3545;
}

.forgot-password {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  text-align: center;
  color: var(--blue);
}

.forgot-password a {
  color: var(--blue);
  text-decoration: none;
}

.forgot-password a:hover {
  color: var(--orange);
}

.last-signin{
  font-size: 14px;
  margin-bottom: 12px;
}